name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  # Minimum supported Rust version.
  msrv: 1.85.0
  # Nightly Rust toolchain for building docs.
  nightly: nightly-2025-11-02
  # POCL version (see at https://github.com/pocl/pocl)
  pocl: "7.0"
  # LLVM version for building POCL (see POCL docs)
  llvm: 18

jobs:
  # Checks minimum supported Rust version.
  build-msrv:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.msrv }}

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-msrv-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-msrv-cargo

      - name: Build library
        run: cargo build --lib --all-features

  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install packages for Vulkan
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-suggests --no-install-recommends \
            cmake libvulkan-dev vulkan-tools mesa-vulkan-drivers
          vulkaninfo

      - name: Cache POCL binaries
        uses: actions/cache@v4
        with:
          path: /tmp/pocl-${{ env.pocl }}
          key: ${{ runner.os }}-pocl-${{ env.pocl }}
      - name: Install POCL
        run: |
          POCL_VER=${{ env.pocl }} \
          LLVM_VER=${{ env.llvm }} \
          CMAKE_FLAGS=-DLLC_HOST_CPU=x86-64 ./install-pocl.sh

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt,clippy
      - name: Install cargo-deny
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-deny
          version: "^0.18"

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo

      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Check dependencies
        run: cargo deny --workspace --all-features check

      - name: Run tests
        run: cargo test --all-features --all-targets
      - name: Run doc tests
        run: cargo test --all-features --doc

  # Building docs does not require an OpenCL libraries or implementation.
  document:
    needs:
      - build
      - build-msrv
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.nightly }}

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-docs-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-docs-cargo

      - name: Build docs
        run: |
          cargo clean --doc && \
          cargo rustdoc --all-features -- \
            --cfg docsrs -Z unstable-options \
            --extern-html-root-url ocl=https://docs.rs/ocl/~0.19

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/doc
          single-commit: true
